.about-container {
    margin: 4rem 6rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h1 {
    padding-bottom: 1rem;
}

.about-container p {
    padding-bottom: 2rem;
    max-width: 50vw;
}

@media screen and (max-width: 850px) {
    .about-container {
        margin: 4rem 2rem;
    }
}