.flex-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.photo {
    max-width: 1000px;
    overflow: hidden;
}

.form-container {
    margin: 4rem 6rem;
    color: #2a2a2a;
    height: 70vh;
}

.form-container h1 {
    text-align: center;
    min-width: 30vw;
}


.form-container form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.form-container input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container button {
    display: inline;
    margin-bottom: 1vh;
}

.link {
    display: inline;
    margin-bottom: 1vh;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .form-container {
        margin: 4rem 2rem;
    }

    .flex-login {
        flex-direction: column-reverse;
    }

    .form-container form {
        padding-top: 3rem;
        width: 90%;
    }
}